footer {
  padding: 1rem;

  border-top: 1px solid #e5e5e5;
}

footer .dev-team {
  color: #12284c;
}

.dev-team__love {
  color: red;
}

@media (min-width: 768px) {
  footer {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1200px) {
  footer {
    padding: 1rem 5.5rem;
  }
}
